In [8]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [11]:
import webbrowser
website='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win-loss_records'
webbrowser.open(website)

True

In [12]:
nfl_frame = pd.read_clipboard()

In [13]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West

In [14]:
nfl_frame.columns

Index([u'Rank', u'Team', u'GP', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Division'],
      dtype='object')

In [15]:
nfl_frame['First NFL Season']

0     1960
1     1921
2     1920
3     1966
4     1960
5     1961
6     1996
7     1925
8     1960
9     1950
10    1933
11    1960
Name: First NFL Season, dtype: int64

In [16]:
DataFrame(nfl_frame, columns=['Team','First NFL Season', 'Division'])

                       Team  First NFL Season   Division
0            Dallas Cowboys              1960   NFC East
1         Green Bay Packers              1921  NFC North
2             Chicago Bears              1920  NFC North
3            Miami Dolphins              1966   AFC East
4   New England Patriots[b]              1960   AFC East
5         Minnesota Vikings              1961  NFC North
6          Baltimore Ravens              1996  AFC North
7           New York Giants              1925   NFC East
8            Denver Broncos              1960   AFC West
9       San Francisco 49ers              1950   NFC West
10      Pittsburgh Steelers              1933  AFC North
11          Oakland Raiders              1960   AFC West

In [18]:
DataFrame(nfl_frame, columns=['Team','First NFL Season', 'Division', 'Stadium'])

                       Team  First NFL Season   Division  Stadium
0            Dallas Cowboys              1960   NFC East      NaN
1         Green Bay Packers              1921  NFC North      NaN
2             Chicago Bears              1920  NFC North      NaN
3            Miami Dolphins              1966   AFC East      NaN
4   New England Patriots[b]              1960   AFC East      NaN
5         Minnesota Vikings              1961  NFC North      NaN
6          Baltimore Ravens              1996  AFC North      NaN
7           New York Giants              1925   NFC East      NaN
8            Denver Broncos              1960   AFC West      NaN
9       San Francisco 49ers              1950   NFC West      NaN
10      Pittsburgh Steelers              1933  AFC North      NaN
11          Oakland Raiders              1960   AFC West      NaN

In [19]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West

In [20]:
nfl_frame.tail(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West

In [22]:
nfl_frame.loc[3]

Rank                             4
Team                Miami Dolphins
GP                             800
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Division                  AFC East
Name: 3, dtype: object

In [23]:
nfl_frame['Stadium'] = 'Purvas Stadium'

In [24]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,Purvas Stadium
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,Purvas Stadium
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,Purvas Stadium
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,Purvas Stadium
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,Purvas Stadium
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North,Purvas Stadium
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North,Purvas Stadium
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East,Purvas Stadium
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West,Purvas Stadium
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West,Purvas Stadium
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North,Purvas Stadium
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West,Purvas Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(12)

In [28]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,0
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,1
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,2
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,3
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,4
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North,5
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North,6
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East,7
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West,8
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West,9
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North,10
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West,11

In [31]:
stadiums = Series(["Levi's Stadium", "AT&T Stadium"], index=[4,0])

In [32]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [33]:
nfl_frame['Stadium'] = stadiums

In [34]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North,NaN
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North,NaN
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East,NaN
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East,Levi's Stadium
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North,NaN
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North,NaN
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East,NaN
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West,NaN
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West,NaN
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North,NaN
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West,NaN

In [35]:
del nfl_frame['Stadium']

In [36]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East
5,6,Minnesota Vikings,870,470,390,10,0.546,1961,NFC North
6,7,Baltimore Ravens,352,190,161,1,0.541,1996,AFC North
7,8,New York Giants,"1,305",687,585,33,0.539,1925,NFC East
8,9,Denver Broncos,884,470,404,10,0.537,1960,AFC West
9,10,San Francisco 49ers,"1,002",528,460,14,0.534,1950,NFC West
10,11,Pittsburgh Steelers,"1,179",614,538,20,0.532,1933,AFC North
11,12,Oakland Raiders,884,462,411,11,0.529,1960,AFC West

In [37]:
data = {'City': ['SF', 'LA', 'California'], 'Population': [890000, 450000, 230000]}

In [38]:
data

{'City': ['SF', 'LA', 'California'], 'Population': [890000, 450000, 230000]}

In [39]:
city_frame = DataFrame(data)

In [40]:
city_frame

         City  Population
0          SF      890000
1          LA      450000
2  California      230000