In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

In [4]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [17]:
ser2 = ser1.reindex(['A','B','C','D', 'E', 'F'])

In [18]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [19]:
ser2.reindex(['A','B','C','D', 'E', 'F', 'G'], fill_value =0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [20]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

In [21]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [22]:
ranger=range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [24]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [30]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.651617  1.322096  0.355604 -0.029439  0.356243
B  1.699194  1.012194  1.840936 -1.287428 -0.647393
D -1.554808  1.415433  0.076738 -0.682518  1.250088
E -0.367957 -1.026968 -0.890526 -1.014356 -0.015250
F  0.057992  0.544243  0.253722 -0.142654  0.386296

In [31]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.651617  1.322096  0.355604 -0.029439  0.356243
B  1.699194  1.012194  1.840936 -1.287428 -0.647393
C       NaN       NaN       NaN       NaN       NaN
D -1.554808  1.415433  0.076738 -0.682518  1.250088
E -0.367957 -1.026968 -0.890526 -1.014356 -0.015250
F  0.057992  0.544243  0.253722 -0.142654  0.386296

In [35]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [39]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.651617  1.322096  0.355604 -0.029439  0.356243   NaN
B  1.699194  1.012194  1.840936 -1.287428 -0.647393   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.554808  1.415433  0.076738 -0.682518  1.250088   NaN
E -0.367957 -1.026968 -0.890526 -1.014356 -0.015250   NaN
F  0.057992  0.544243  0.253722 -0.142654  0.386296   NaN

In [43]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -0.651617  1.322096  0.355604 -0.029439  0.356243   NaN
B  1.699194  1.012194  1.840936 -1.287428 -0.647393   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.554808  1.415433  0.076738 -0.682518  1.250088   NaN
E -0.367957 -1.026968 -0.890526 -1.014356 -0.015250   NaN
F  0.057992  0.544243  0.253722 -0.142654  0.386296   NaN